@model TaskViewModel
@{
	ViewData["Title"] = "Tasks";
}

<h1>Tasks</h1>
@if (User.Identity.IsAuthenticated)
{
	<a class="btn btn-primary" asp-controller="Task" asp-action="Create">Create new task</a>
}
<table class="table table-borderless table-striped mt-5 bg-white">
	<thead>
		<tr>
			<th scope="col">ID</th>
			<th scope="col">Title</th>
			<th scope="col">Status</th>
			<th scope="col">Author</th>
			<th scope="col">Performer</th>
			<th scope="col">Created</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var task in Model.Tasks)
		{
			<tr>
				<th scope="row">@task.ID</th>
				<td>
					<a asp-action="Details" asp-controller="Task" asp-route-id="@task.ID">@task.Title</a>
				</td>
				<td>@task.Status</td>
				<td>@task.Author</td>
				<td>@task.Performer</td>
				<td>@task.Created</td>
				<td class="d-flex flex-wrap">
					<a asp-action="Edit" asp-route-id="@task.ID" class="btn btn-primary me-1">Edit</a>
					<a asp-action="Delete" asp-route-id="@task.ID" class="btn btn-danger ms-1">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>


