@model TagViewModel

@{
	ViewData["Title"] = "Statuses";
}

<h1>Statuses</h1>
@if (User.Identity.IsAuthenticated)
{
	<a class="btn btn-outline-primary" asp-controller="Status" asp-action="Create">Create new tag</a>
}
else
{
	<a class="btn btn-outline-primary" asp-controller="Auth" asp-action="Login">Create new tag</a>
}
<table class="table table-borderless table-striped mt-5 bg-white">
	<thead>
		<tr>
			<th scope="col">
				@Html.DisplayNameFor(model => model.ID)
			</th>
			<th scope="col">
				@Html.DisplayNameFor(model => model.Title)
			</th>
			<th scope="col">
				@Html.DisplayNameFor(model => model.Created)
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var tag in Model.Tags)
		{
			<tr>
				<th scope="row">@tag.ID</th>
				<td>
					@Html.DisplayFor(modelItem => tag.Title)
				</td>
				<td>
					@Html.DisplayFor(modelItem => tag.Created)
				</td>
				<td class="d-flex flex-wrap">
					@if (User.Identity.IsAuthenticated)
					{
						<a class="btn btn-outline-primary me-1" asp-action="Edit" asp-route-id="@tag.ID">Edit</a>
						<a class="btn btn-outline-danger ms-1" asp-action="Delete" asp-route-id="@tag.ID">Delete</a>
					}
					else
					{
						<a class="btn btn-outline-primary mx-1" asp-controller="Auth" asp-action="Login">Edit</a>
						<a class="btn btn-outline-danger ms-1" asp-controller="Auth" asp-action="Login">Delete</a>
					}
				</td>
			</tr>
		}
	</tbody>
</table>
