@model StatusViewModel

@{
	ViewData["Title"] = "Statuses";
}

<h1>Statuses</h1>
@if (User.Identity.IsAuthenticated)
{
	<a class="btn btn-outline-primary" asp-controller="Status" asp-action="Create">Create new status</a>
}
<table class="table table-borderless table-striped mt-5 bg-white">
	<thead>
		<tr>
			<th scope="col">
				@Html.DisplayNameFor(model => model.ID)
			</th>
			<th scope="col">
				@Html.DisplayNameFor(model => model.Title)
			</th>
			<th scope="col">
				@Html.DisplayNameFor(model => model.Created)
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var status in Model.Statuses)
		{
			<tr>
				<th scope="row">@status.ID</th>
				<td>
					@Html.DisplayFor(modelItem => status.Title)
				</td>
				<td>
					@Html.DisplayFor(modelItem => status.Created)
				</td>
				@if (User.Identity.IsAuthenticated)
				{
					<td class="d-flex flex-wrap">
						<a asp-action="Edit" asp-route-id="@status.ID" class="btn btn-outline-primary me-1">Edit</a>
						<a asp-action="Delete" asp-route-id="@status.ID" class="btn btn-outline-danger ms-1">Delete</a>
					</td>
				}
			</tr>
		}
	</tbody>
</table>
